body{

    background:#eaf7ff;

    font-family:
    "Microsoft YaHei";

}



.container{

    width:400px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 5px 20px #ccc;

}



.robot img{


    width:160px;

    height:160px;

    object-fit:contain;


    animation:

    float 3s ease-in-out infinite;


}



@keyframes float{


    0%{

        transform:translateY(0px);

    }


    50%{

        transform:translateY(-10px);

    }


    100%{

        transform:translateY(0px);

    }


}


h1{

    color:#3478ff;

}



.hello{

    color:#555;

}



textarea{

    width:90%;

    height:100px;

    border-radius:15px;

    padding:15px;

    font-size:16px;

}



button{

    margin-top:20px;

    background:#ffcc33;

    border:none;

    padding:15px 30px;

    border-radius:20px;

    font-size:18px;

}



.answer{

    margin-top:30px;

    background:#f3f8ff;

    padding:15px;

    border-radius:15px;

}



.speech{


    background:#f0f7ff;


    display:inline-block;


    padding:15px 25px;


    border-radius:20px;


    margin-top:15px;


    font-size:18px;


    color:#555;



    position:relative;


}



/* 小气泡尖角 */

.speech::after{


    content:"";


    position:absolute;


    bottom:-10px;


    left:50%;


    transform:translateX(-50%);



    border-width:10px 10px 0;


    border-style:solid;


    border-color:#f0f7ff transparent transparent;


}



#statusText{

    font-size:14px;

    color:#888;

    margin-top:10px;

}